trunk/gCCD/luckyComponent/config/CDB/schemas/CCDComponent.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="urn:schemas-cosylab-com:Component:1.0"
	xmlns="urn:schemas-cosylab-com:Component:1.0"
	xmlns:baci="urn:schemas-cosylab-com:BACI:1.0"
	xmlns:cdb="urn:schemas-cosylab-com:CDB:1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="urn:schemas-cosylab-com:CDB:1.0" schemaLocation="CDB.xsd"></xs:import>
	<xs:import namespace="urn:schemas-cosylab-com:BACI:1.0" schemaLocation="BACI.xsd"></xs:import>
	<xs:complexType name="Component">
		<xs:sequence>
			<xs:element name="actualAirTemperature">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:ROdouble">
							<xs:attribute default="actualAirTemperature" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="actualCCDTemperature">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:ROdouble">
							<xs:attribute default="actualCCDTemperature" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="cameraName">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWstring">
							<xs:attribute default="cameraName" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="commandedCCDTemperature">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWdouble">
							<xs:attribute default="commandedCCDTemperature" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute default="0" name="id" type="xs:int" use="optional"></xs:attribute>
	</xs:complexType>
	<xs:element name="Component" type="Component"></xs:element>
</xs:schema>
