IRIS/irisCCD/config/CDB/schemas/CCD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  $Id: CCD.xsd,v 1.9 2005/03/09 14:32:57 tjuerges Exp $
  
  $Log: CCD.xsd,v $
  Revision 1.9  2005/03/09 14:32:57  tjuerges
  - Added component status.

  Revision 1.8  2005/02/11 14:46:51  tjuerges
  - Added possibility to pass centre of simulated field rotation.

  Revision 1.7  2005/01/25 16:24:13  tjuerges
  - Added simulationFieldRotation to simulated CCD camera.

-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="urn:schemas-cosylab-com:CCD:1.0"
	xmlns="urn:schemas-cosylab-com:CCD:1.0"
	xmlns:baci="urn:schemas-cosylab-com:BACI:1.0"
	xmlns:cdb="urn:schemas-cosylab-com:CDB:1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="urn:schemas-cosylab-com:CDB:1.0" schemaLocation="CDB.xsd"></xs:import>
	<xs:import namespace="urn:schemas-cosylab-com:BACI:1.0" schemaLocation="BACI.xsd"></xs:import>
	<xs:complexType name="CCD">
		<xs:sequence>
			<xs:element name="actualAirTemperature">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:ROdouble">
							<xs:attribute default="actualAirTemperature" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="actualCCDTemperature">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:ROdouble">
							<xs:attribute default="actualCCDTemperature" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="cameraName">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWstring">
							<xs:attribute default="cameraName" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="commandedCCDTemperature">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWdouble">
							<xs:attribute default="commandedCCDTemperature" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="componentStatus">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:ROEnum">
							<xs:attribute default="UNKNOWN,RUNNING,ON,OFF,STOPPED,WORKING"
								name="statesDescription" type="xs:string" use="optional"></xs:attribute>
							<xs:attribute default="Component State" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="darkFrame">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWlong">
							<xs:attribute default="darkFrame" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="exposureSequence">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWlong">
							<xs:attribute default="exposureSequence" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="exposureTime">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWdouble">
							<xs:attribute default="exposureTime" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="filterName">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWstring">
							<xs:attribute default="filterName" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="focalLength">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWdouble">
							<xs:attribute default="focalLength" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="gain">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:ROdouble">
							<xs:attribute default="gain" name="description" type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="imageData">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:ROlongSeq">
							<xs:attribute default="imageData" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="imageReady">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:ROlong">
							<xs:attribute default="imageReady" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="numberOfExposuresInSequence">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWlong">
							<xs:attribute default="numberOfExposuresInSequence"
								name="description" type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="numberOfFlushes">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWlong">
							<xs:attribute default="numberOfFlushes" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="objectName">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWstring">
							<xs:attribute default="objectName" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="observerName">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWstring">
							<xs:attribute default="observerName" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="simulationAmplitude">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWdoubleSeq">
							<xs:attribute default="simulationAmplitude" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="simulationBackgroundNoise">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWdouble">
							<xs:attribute default="simulationBackgroundNoise"
								name="description" type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="simulationFieldRotation">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWdouble">
							<xs:attribute default="simulationFieldRotation" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="simulationRotationCentreX">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWdouble">
							<xs:attribute default="simulationRotationCentreX"
								name="description" type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="simulationRotationCentreY">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWdouble">
							<xs:attribute default="simulationRotationCentreY"
								name="description" type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="simulationFwhmX">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWdouble">
							<xs:attribute default="simulationFwhmX" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="simulationFwhmY">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWdouble">
							<xs:attribute default="simulationFwhmY" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="simulationNoise">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWlong">
							<xs:attribute default="simulationNoise" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="simulationReadoutNoise">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWdouble">
							<xs:attribute default="simulationReadoutNoise" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="simulationX">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWdoubleSeq">
							<xs:attribute default="simulationX" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="simulationY">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWdoubleSeq">
							<xs:attribute default="simulationY" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="status">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:ROpattern">
							<xs:attribute default="status" name="description" type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="telescopeName">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWstring">
							<xs:attribute default="telescopeName" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="timeExposureEnd">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:ROstring">
							<xs:attribute default="timeExposureEnd" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="timeExposureStart">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:ROstring">
							<xs:attribute default="timeExposureStart" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="waitTimeBetweenExposuresInSequence">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWdouble">
							<xs:attribute default="waitTimeBetweenExposuresInSequence"
								name="description" type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="xEnd">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWlong">
							<xs:attribute default="xEnd" name="description" type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="xPixelSize">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:ROdouble">
							<xs:attribute default="xPixelSize" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="xStart">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWlong">
							<xs:attribute default="xStart" name="description" type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="yEnd">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWlong">
							<xs:attribute default="yEnd" name="description" type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="yPixelSize">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:ROdouble">
							<xs:attribute default="yPixelSize" name="description"
								type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="yStart">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="baci:RWlong">
							<xs:attribute default="yStart" name="description" type="xs:string" use="optional"></xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute default="0" name="id" type="xs:int" use="optional"></xs:attribute>
	</xs:complexType>
	<xs:element name="CCD" type="CCD"></xs:element>
</xs:schema>
