IRIS/irisGeo/config/CDB/schemas/GEO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated from template configuration database schema
     on 2003-01-08T14:54:48+0100 -->
<xs:schema targetNamespace="urn:schemas-cosylab-com:GEO:1.0"
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns="urn:schemas-cosylab-com:GEO:1.0"
 xmlns:cdb="urn:schemas-cosylab-com:CDB:1.0"
 xmlns:baci="urn:schemas-cosylab-com:BACI:1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="urn:schemas-cosylab-com:CDB:1.0" schemaLocation="CDB.xsd"/>
    <xs:import namespace="urn:schemas-cosylab-com:BACI:1.0" schemaLocation="BACI.xsd"/>
    <xs:complexType name="GEO">
        <xs:sequence>
               <xs:element name="height" type="baci:RWdouble"/>
               <xs:element name="longitude" type="baci:RWdouble"/>
               <xs:element name="latitude" type="baci:RWdouble"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="optional" default="0"/>
     </xs:complexType>
<xs:element name="GEO" type="GEO"/>
</xs:schema>
